<FlexboxLayout>
<GridLayout *ngIf="!showProfile && !imageFullScreen" columns="*" rows="auto,auto,auto,*,auto" padding="2 2 2 2">
    <FlexboxLayout flexDirection="column" class="picker-header-stack" row="0" col="0">
        <Label text="Individual Details"></Label>
    </FlexboxLayout>

    <FlexboxLayout flexDirection="column" class="filter-stack" row="1" col="0">
        <FlexboxLayout class="oddRow"
                        alignItems="center">
            <Label text="Nickname:"
                    textWrap="true" class="ind-details-left-labels"></Label>
            <Label text="{{ individual.individual_userstr }}" class="ind-details-right-labels" flexGrow="1"></Label>
        </FlexboxLayout>
        <FlexboxLayout class="evenRow"
                        alignItems="center">
            <Label text="Site:"
                    textWrap="true" class="ind-details-left-labels"></Label>
            <Label text="{{ siteName }}" class="ind-details-right-labels" flexGrow="1"></Label>
        </FlexboxLayout>
        <FlexboxLayout class="oddRow"
                        alignItems="center">
            <Label text="Common Name:"
                    textWrap="true" class="ind-details-left-labels"></Label>
            <Label text="{{ individual.species.common_name }}" class="ind-details-right-labels" flexGrow="1"></Label>
        </FlexboxLayout>
        <FlexboxLayout class="evenRow"
                        alignItems="center">
            <Label text="Scientific Name:"
                    textWrap="true" class="ind-details-left-labels"></Label>
            <Label text="{{ individual.species.genus + '-' + individual.species.species }}" class="ind-details-right-labels" flexGrow="1"></Label>
        </FlexboxLayout>
    </FlexboxLayout>

    <Button text="View Complete Species Profile" row="2" col="0"
            (tap)="openSpeciesProfile()" width="100%"></Button>

    <FlexboxLayout flexDirection="column" class="filter-stack" flexGrow="1" row="3" col="0">
        <Image #individualImage [src]="getIndividualImage(individual)" height="100%" width="100%" (tap)="toggleImageFullScreen()"></Image>
    </FlexboxLayout>

    <Button text="OK" (tap)="close('OK')" width="{{100 * pinchZoom}}%" row="4" col="0"></Button>
</GridLayout>

<GridLayout columns="*" rows="*,auto" row="0" col="0" width="100%" [visibility]="showProfile ? 'visible' : 'collapse'">
    <WebView #profile src="{{BASE_URL+'nn/'+individual.species.genus+'_'+individual.species.species}}" row="0" col="0"></WebView>
    <Button *ngIf="onProfilePage" text="Back to Individual Details" (tap)="showProfile = false;" width="100%" height="50" row="1" col="0"></Button>
    <Button *ngIf="!onProfilePage" text="Back" (tap)="webViewBack()" width="100%" height="50" row="1" col="0"></Button>
</GridLayout>

<GridLayout columns="*" rows="*,auto" style="background-color: black" [visibility]="imageFullScreen ? 'visible' : 'collapse'">
    <ImageZoom #zoomer [src]="getIndividualImage(individual)" row="0" col="0"></ImageZoom>
    <Button text="Back to Individual Details" (tap)="toggleImageFullScreen()" row="1" col="0"></Button>
</GridLayout>
</FlexboxLayout>

