@import '../../variables.scss';

.picker-row {
  align-items: center;
  justify-content: space-between;
}

.selected-row {
  background-color: $dove-gray;
  color: $white;
}

.picker-label {
  font-size: 14;
  text-align: center;
  width: 99%;
}

.picker-body-stack {
  height: 100%;
  margin: 5;
  width: 98%;
}
