.loading-background {
    background-image: url('~/images/natures_notesbook-tagline-RGB.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }