<!-- <Page> -->
<StackLayout>
    <ScrollView #scrollMenu orientation="horizontal" *ngIf="menuVisible()" width="100%">
        <FlexboxLayout orientation="horizontal" class="scroll-menu" justifyContent="space-between">

            <StackLayout *ngFor="let menuItem of menuItems"
                         class="menu-item"
                         [class.menu-item-active]="activeTab == menuItem.route">
                <FlexboxLayout alignItems="center"
                        (tap)="changePage(menuItem.route)" class ="menu-button">
                    <Label text="{{menuItem.title}}" class ="menu-text" [class.menu-text-active]="activeTab == menuItem.route"></Label>
                </FlexboxLayout>
            </StackLayout>
        </FlexboxLayout>
    </ScrollView>
    <StackLayout *ngIf="intialLoad" class="loading-background" height="200" width="200"></StackLayout>
    <ActivityIndicator *ngIf="intialLoad" #activityIndicator busy="true" width="50" height="50" class="activity-indicator" color="gray"></ActivityIndicator>
    <Label *ngIf="intialLoad" style="font-size: 12; text-align: center" text="loading database..."></Label>
    <router-outlet></router-outlet>
</StackLayout>
<!-- </Page> -->
