<GridLayout columns="*" rows="auto,*,auto"
            height="100%"
            width="100%" padding="2">

    <!-- <FlexboxLayout alignContent="center" justifyContent="center" row="0" column="0" width="100%" height="25"
                   [ngClass]="{'filter-header-text': true, 'bordered-box': true, 'green-box': userDataUpToDate(), 'red-box': (noWifi || noConnection), 'orange-box': (!userDataUpToDate() && !noWifi && !noConnection && !syncing), 'blue-box': syncing}" marginBottom="2">
        <Label text="{{ getStatusBarText() }}"></Label>
    </FlexboxLayout> -->

    <FlexboxLayout row="0" column="0" 
    class="bordered-box"
    flexDirection="column"
    alignItems="center"
    justifyContent="center"
    padding="4" marginBottom="2">
        <Label text="Observations To Sync" fontSize="20" textWrap="true"></Label>
    </FlexboxLayout>

    <FlexboxLayout flexDirection="column"
                   justifyContent="center"
                   alignItems="center"
                   class="bordered-box"
                   row="1" column="0"
                    *ngIf="loading">
        <Label text="Loading..." textWrap="true"></Label>
    </FlexboxLayout>

    <FlexboxLayout flexDirection="column"
                   justifyContent="center"
                   alignItems="center"
                   class="bordered-box"
                   row="1" column="0"
                    *ngIf="observations.length === 0 && !loading">
        <Label text="All observations have been syncronized." textWrap="true"></Label>
    </FlexboxLayout>

    <StackLayout   class="data-grid"
                   row="1" column="0"
                   *ngIf="(observations).length != 0 && !loading">

        <FlexboxLayout class="flex-header two-row"
                       alignItems="stretch" justifyContent="space-between">
            <StackLayout class="col-site-ind">
                <Label text="Site"></Label>
                <Label text="Individual"></Label>
            </StackLayout>
            <StackLayout class="col-records">
                <Label text="# Observations"></Label>
                <Label text="To Sync"></Label>
            </StackLayout>
            <StackLayout class="col-date">
                <Label text="Date"></Label>
                <Label text="Time"></Label>
            </StackLayout>
            <!-- <FlexboxLayout alignItems="center" justifyContent="flex-end" class="col-date" (tap)="sortDateDesc = !sortDateDesc;">
                <Label text="Date"></Label>
                <Label [text]="sortDateDesc ? sortNumericAscIcon : sortNumericDescIcon" class="font-awesome"></Label>
            </FlexboxLayout> -->
        </FlexboxLayout>

        <StackLayout>
            <ListView [items]="observations" height="100%">
                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                    <FlexboxLayout alignItems="center" justifyContent="space-between" [class.evenRow]="even" [class.oddRow]="odd" (tap)="onSelectObservation(item)">

                        <FlexboxLayout flexDirection="column" class="col-site-ind" width="180">
                            <Label [text]="item.station_name"></Label>
                            <Label [text]="item.individual_userstr" ></Label>
                        </FlexboxLayout>
                        <!-- <Label [text]="item.completed + '/' + phenophaseCounts[item.protocol_id]" class="col-records" width="70"></Label> -->
                        <Label [text]="item.completed" class="col-records"></Label>
                        <FlexboxLayout flexDirection="column" alignItems="flex-end" width="90">
                            <Label text="{{_observationGroupsService.getDateText(item.observation_date)}}"></Label>
                            <Label text="{{getObservationTime(item)}}"></Label>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </ng-template>
            </ListView>
        </StackLayout>
    </StackLayout>

    <Button text="Back" (tap)="submit()" row="2" column="0"></Button>

</GridLayout>
